version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/docker/data/"
    schedule:
      interval: "daily"
    groups:
      github-actions:
        patterns:
        - '*'
  - package-ecosystem: "docker"
    directory: "/deploy/docker/data/"
    schedule:
      interval: "daily"
    groups:
      docker:
        patterns:
        - '*'
  - package-ecosystem: "docker"
    directory: "/deploy/europe/"
    schedule:
      interval: "daily"
    groups:
      docker:
        patterns:
        - '*'
  - package-ecosystem: "pip"
    directory: "/deploy/common"
    schedule:
      interval: "daily"
    groups:
      pip:
        patterns:
        - '*'
  - package-ecosystem: "pip"
    directory: "/deploy/docker"
    schedule:
      interval: "daily"
    groups:
      pip:
        patterns:
        - '*'
  - package-ecosystem: "pip"
    directory: "/deploy/europe"
    schedule:
      interval: "daily"
    groups:
      pip:
        patterns:
        - '*'
