name: Publish Europe Data

permissions:
  packages: write
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 10 * * 2'

jobs:
  build_central-europe-ext:
    name: Build Europe map
    runs-on: ubuntu-latest
    steps:
      - name: Free some disk space
        run: |
          df -h
          sudo apt-get remove -y '^dotnet-.*' '^llvm-.*' 'php.*' '^mongodb-.*' '^mysql-.*' '^postgresql-.*' '^gfortran-.*' '^cmake-.*' '^aspnetcore-.*' '^clang-.*' '^cpp-.*' '^libmono-.*' '^mono-.*' '^ruby.*' '^r-.*' '^python3-.*' azure-cli  google-chrome-stable firefox powershell
          sudo rm -rf /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL /usr/local/graalvm/ /usr/local/share/powershell /usr/local/lib/android /usr/local/lib/node_modules /usr/local/.ghcup/ /usr/share/dotnet/ /opt/hostedtoolcache /opt/microsoft /usr/local/aws-* /usr/share/miniconda
          sudo apt-get autoremove -y
          sudo apt-get clean
          sudo rm -rf /var/lib/apt/lists/*
          docker rmi -f node:14 node:16 node:18 node:14-alpine node:16-alpine node:18-alpine ubuntu:18.04 ubuntu:20.04 ubuntu:22.04 debian:10 debian:11 buildpack-deps:buster buildpack-deps:bullseye
          df -h

      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 1

      - name: Login to GitHub Packages Docker Registry
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          logout: false
      - name: Provide dependencies
        run: |
          sudo apt-get install -y temurin-17-jdk

          sudo chmod +w /opt
          docker pull ghcr.io/cmahnke/map-tools/osmium:ubuntu-22.04
          docker create --name osmium ghcr.io/cmahnke/map-tools/osmium:ubuntu-22.04
          docker cp osmium:/opt/osmium /opt/osmium
          docker rm -f osmium
          docker rmi ghcr.io/cmahnke/map-tools/osmium:ubuntu-22.04

          docker pull ghcr.io/cmahnke/map-tools/osmctools:ubuntu-22.04
          docker create --name osmctools ghcr.io/cmahnke/map-tools/osmctools:ubuntu-22.04
          docker cp osmctools:/opt/osmctools /opt/osmctools
          docker rm -f osmctools
          docker rmi ghcr.io/cmahnke/map-tools/osmctools:ubuntu-22.04

          docker pull ghcr.io/cmahnke/projektemacher-maps/planetiler:latest
          docker create --name planetiler ghcr.io/cmahnke/projektemacher-maps/planetiler:latest
          docker cp planetiler:/opt/planetiler /opt/planetiler
          docker rm -f planetiler
          docker rmi ghcr.io/cmahnke/projektemacher-maps/planetiler:latest

      - name: Run data genetator
        run: |
          cd deploy/europe/scripts
          bash -x ./run.sh conf.sh

      - name: Buildah Action
        uses: redhat-actions/buildah-build@v2
        with:
          image: ghcr.io/cmahnke/map-data/europe
          tags: latest
        content: |
          deploy/europe/scripts/tiles

      - name: Push To GitHub packages
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ghcr.io/cmahnke/map-data/europe
          tags: latest
          registry: ghcr.io
